.container-fluid {
  background-color: #2ba6cb;
  text-align: center;
}

.panel {
  width: 30%;
  position: relative;
  top: 25px;
}

#left,
#middle,
#right {
  width: 32.1%;
  background: white;
  display: inline-block;
  height: 100%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#memeDiv {
  margin: 0;
  height: 500px;
}

.top-text-block,
.bottom-text-block {
  background-color: transparent;
  font-size: 40px;
  font-family: 'Impact';
  color: white;
  text-shadow: black 0px 0px 10px;
  width: 600px;
  position: absolute;
  left: 15px;
  top: 400px;
  text-align: center;
}

.top-text-block {
  top: 1%;
  width: 100%;
}

.bottom-text-block {
  top: 30%;
  width: 100%;
}
