.container-fluid {
  background-color: #2ba6cb;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#panel-container {
  height: -webkit-fill-available;
}

h1 {
  font-size: 3.5rem;
}

.panel {
  position: relative;
  top: 25px;
  max-width: 33%;
  min-height: 100px;
  padding: 13px;
  display: inline-block;
}

img {
  vertical-align: middle;
  border-style: none;
  max-height: 100%;
  max-width: 100%;
}

.top-text-block,
.bottom-text-block {
  background-color: transparent;
  font-size: 50px;
  font-family: 'Impact';
  color: white;
  text-shadow: black 0px 0px 10px;
  width: 600px;
  left: 15px;
  text-align: center;
}

.top-text-block {
  position: absolute;
  top: 10px;
  width: 100%;
}

.bottom-text-block {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

